# STT (serveur)
faster-whisper==1.0.3

# Audio utils (côté serveur)
soundfile==0.12.1
pydub==0.25.1

# Fuzzy match
rapidfuzz==3.9.7

# UI
streamlit==1.38.0
audio-recorder-streamlit==0.0.8

# TTS
gTTS==2.5.1

# NumPy (ok avec faster-whisper)
numpy==2.1.1

# Réseau
requests>=2.32.0
